.menu-container {
	display: flex;
	padding: 15px 5px;
	margin: 0;
}

.menu-option {
	list-style: none;
	background-color: yellowgreen;
	margin: 2px 10px;
}

.option-button {
	background-color: transparent;
	border: none;
	outline: none;
	display: block;
	padding: 5px;
}

.option-button:active {
	background-color: teal;
}
