.solution-container {
  margin-top: 20px;
}

.solution-container input {
  width: 94%;
  margin: 2%;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #113E51;
  color: #fff;
}